{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <br>
        <br>
        <br>
        <h1 class="text-white">Succesfully edited exercise</h1>
        <a href="/exercises" class="btn btn-orange">See exercises</a>
    </div>
{% endblock %}