{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}Exercise List{% endblock %}</title>
    <div class="container my-5 text-white">
        <h1 class="text-center">Exercise List</h1>
        <br>
        {% if exercises is not empty %}
            <div class="row" align="center">
                {% for exercise in exercises %}
                    <div class="col-md-4 my-3">
                        <div class="card h-100 bg-light text-dark rounded-card">
                            <div class="card-body">
                                <h5 class="card-title">{{ exercise.name }}</h5>
                                <a href="/exercise/{{ exercise.id }}" class="btn btn-orange mt-3">View Exercise</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <ul class="pagination pagination-split mt-0 justify-content-center">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only"></span></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only"></span></a></li>
                </ul>
            </div>
        {% else %}
            <p class="text-center">No exercises found.</p>
        {% endif %}
        <div class="text-center mt-5">
            <button class="btn btn-secondary" onclick="history.back()">Back</button>
        </div>
    </div>

    <style>
        .rounded-card {
            border-radius: 15px;
            transition: transform 0.3s;
        }

        .rounded-card:hover {
            transform: translateY(-5px);
        }
    </style>
{% endblock %}
