<h1>Exercise Info</h1>

{% if exercise is not empty %}
    <ul>
        <li>
            <a href="{{ exercise.linkVideo }}">Watch Video</a>
        </li>
    </ul>
{% else %}
    <p>No exercises found.</p>
{% endif %}