<h1>{{ exercise.name }}</h1>

{% if exercise is not empty %}
    <ul>
        <li>
            <p>
                Category: {{ exercise.tip.nume}}
            </p>
        </li>
        <li>
            <p>{{exercise.description}}</p>
        </li>

        <li>
            <a href="{{ exercise.linkVideo }}" target="_blank">Watch Video</a>
        </li>
    </ul>
{% else %}
    <p>No exercises found.</p>
{% endif %}
<button onclick="history.back()">Back</button>