{% extends 'base.html.twig' %}

{% block title %}Deletion Successful{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card bg-dark text-white text-center">
            <div class="card-body">
                <h1 class="card-title">Deletion Successful</h1>
                <p class="card-text">The {{ type }} has been successfully deleted.</p>
                <a href="/{{ type }}s" class="btn btn-orange">See {{ type }} list</a>
            </div>
        </div>
    </div>
{% endblock %}
