{% extends 'base.html.twig' %}

{% block title %}Login Successful{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card bg-dark text-white">
            <div class="card-body text-center">
                <h1 class="card-title">Login Successful</h1>
                <p class="card-text">You have successfully logged in!</p>
                <a href="/exercises" class="btn btn-orange mx-2">See Exercise List</a>
            </div>
        </div>
    </div>
{% endblock %}
