{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center p-5 bg-dark rounded shadow">
            <h1 class="text-white mb-4">Successfully added a new exercise log to "{{ workout.name }}"</h1>
            <a href="/workout/{{ workout.id }}/exercise-log" class="btn btn-orange btn-lg">See workout details</a>
        </div>
    </div>
{% endblock %}

