{% extends 'base.html.twig' %}

{% block title %}Deletion Successful{% endblock %}

{% block body %}
    <h1 class="text-white">Deletion Successful</h1>
    <p class="text-white">The user has been successfully deleted.</p>
    <a href="/" class="btn btn-orange">Home</a>
{% endblock %}
