{% extends 'base.html.twig' %}

{% block title %}Register Successful{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card bg-dark text-white">
            <div class="card-body text-center">
                <h1 class="card-title">Register Successful</h1>
                <p class="card-text">You have successfully registered!</p>
                <a href="/login" class="btn btn-orange mx-2">Go log in</a>
            </div>
        </div>
    </div>
{% endblock %}
